body {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}
/* 
footer {
  background-color: darkgoldenrod;
  color: rgb(255, 23, 236);
  padding: 20px 0;
  text-align: center;
  width: 100%;
} */
.table.table-striped {
  width: 100%;
  color: black;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: rgb(255, 255, 255);
}

footer {
  background-color: rgb(40, 5, 5);
  color: rgb(250, 242, 242);
  padding: 20px 0;
  text-align: center;
  width: 100%;
}

footer {
  background-color: rgb(49, 214, 255);
  color: rgb(27, 218, 148);
  padding: 20px 0;
  text-align: center;
  width: 100%;
}

.footer-conteudo {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  background-color: rgb(12, 12, 60);
  color: rgb(12, 166, 107);
  padding: 20px 0;
  text-align: center;
  width: 100%;
}

.footer-box {
  flex: 1;
  padding: 20px;
  border-left: 2px solid green;
}

footer.img {
  width: 300px;
  height: auto;
  margin-bottom: 10px;
}

footer p {
  margin: 5px 0;
  font-size: 18px;
}
footer a {
  color: white;
  text-decoration: none;
}
footer a:hover {
  color: rgb(225, 0, 0);
  text-decoration: none;
}

footer h3 {
  margin-bottom: 10px;
  font-size: 30px;
  color: green;
}

